<ion-content [fullscreen]="true">
  <img src="../../../assets/img/logo blogther.svg" alt="" style="width: 300px; height: 300px;">
  <form [formGroup] = "loginForm" (ngSubmit) = "login()">
    <ion-item>
      <ion-input label="Email"
      labelPlacement="stacked"
      formControlName="email"
      [clearInput]="true"
      placeholder="Correo Electronico"
      type="email"
      mode="md"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Contraseña"
      labelPlacement="stacked"
      formControlName="password"
      [clearInput]="true"
      placeholder="Ingrese Contraseña"
      type="password"
      mode="md">
        <ion-input-password-toggle slot="end" color="verdeoscuro"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <br>
    <ion-button expand="full" type="submit" [disabled]="!loginForm.valid"
    fill="outline" shape="round">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      Iniciar sesión
    </ion-button>
    <br>
    <a href="/camb-contra" style="--background: none; color: var(--ion-color-verdeoscuro);
    padding-left: 10px;">
      Cambiar contraseña?
    </a>
  </form>
</ion-content>
