<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/metodo-pago"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-center">Escaner</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="scanner-container">
    <div class="scanner-preview">
      <div class="scanner-frame">
        <img
          *ngIf="fotoBase64; else placeholder"
          [src]="fotoBase64"
          class="preview-img"
          alt="preview"
        />
        <ng-template #placeholder>
          <img src="assets/image 14.png" class="preview-img" alt="placeholder" />
        </ng-template>
        <div class="corners"></div>
      </div>
    </div>

    <div class="scanner-actions">
      <button class="scanner-btn" (click)="tomarFoto()">
        <ion-icon name="camera-outline"></ion-icon>
        Tomar foto
      </button>
      <button class="scanner-btn" (click)="abrirGaleria()">
        <ion-icon name="image-outline"></ion-icon>
        Galeria
      </button>
    </div>
    
  </div>
  
</ion-content>

<ion-footer>
  <app-tab-bar></app-tab-bar>
</ion-footer>

