ion-content{
    --background: var(--ion-color-fondo);
}
h1{
    color: var(--ion-color-verdemedioscuro);
    font-family: 'Concert One', sans-serif;
    font-size: 32px;
    margin: 20px;
}
p{
    color: var(--ion-color-verdeoscuro);
    font-family: 'Quicksand', sans-serif;
    margin: 20px;
}
ion-button{
    font-family: 'Concert One', sans-serif;
    width: 343px;
    height: 46px;
    display: flex;
    margin: auto;
}
ion-content > div{
    margin-top: 20px;
}
ion-content > div > ion-button{
    margin-top: 5px;
    --background: var(--ion-color-veishoscuro);
}
ion-content > ion-button{
    margin-top: 60px;
    color: var(--ion-color-verdeoscuro);
    --border-color: var(--ion-color-verdeoscuro)
}