<ion-content [fullscreen]="true">
  <h1>
    Registrarse
  </h1>
  <p>
    Registrate y forma parte de nuestra familia
  </p>
  <img src="../../../assets/img/logo blogther.svg" alt="" style="width: 173px; height: 193px; display: flex; margin: auto;
  padding: 24px;">
  <div>
    <br>
    <ion-button expand="full" shape="round">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Facebook
    </ion-button>
    <br>
    <ion-button expand="full" shape="round">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Google
    </ion-button>
    <br>
  </div>
  <ion-button href="/login" expand="full" shape="round" fill="outline">
    Sign-up
  </ion-button>
</ion-content>
