
<div>
  <img [src]="auth.profile?.photoURL" alt="Foto de perfil" class="user-avatar" />
  <h1> {{ auth.profile?.username }}</h1>
  <p>{{ descripcion }}</p>
   <p class="followers-container">
     <ion-icon name="people-outline" class="follower-icon"></ion-icon>
     <span class="follower-count">{{ auth.profile.seguidores }}</span>
     <span class="follower-label">seguidores</span>  
 
     <ion-icon name="people-outline" class="follower-icon"></ion-icon>
     <span class="follower-count">{{ auth.profile.seguidos }}</span>
     <span class="follower-label">seguidos</span>
   <p>

  <ion-button expand="full" class="btn-publi" href="/mis-publi">
    <ion-icon name="albums-outline" slot="start"></ion-icon>
    Publicaciones
  </ion-button>
  <ion-button expand="full" class="btn-favoritos">
    <ion-icon name="star-outline" slot="start"></ion-icon>
    Favoritos
  </ion-button>
  
  <ion-button expand="full" class="btn-calendario" href="/calendario">
    <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
    Calendario
  </ion-button>
  
</div>

