<ion-card [routerLink]="['/publi', publicacion.id]" *ngFor="let publicacion of publicaciones">
  <img alt="Silhouette of mountains" src="{{publicacion.imagen}}" />
  <ion-card-header>
    <ion-card-title>{{publicacion.titulo}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{publicacion.descripcion}}
  </ion-card-content>
  <ion-button
  *ngIf="publicacion.uid === userUid"
  (click)="editarPublicacion(publicacion); $event.stopPropagation(); $event.preventDefault();"
  >
  Editar
  </ion-button>
  <ion-button
    color="danger"
    *ngIf="publicacion.uid === userUid"
    (click)="eliminarPublicacion(publicacion); $event.stopPropagation(); $event.preventDefault();"
  >
    Eliminar
  </ion-button>
</ion-card>


<ion-card *ngIf="publicacionSeleccionada">
  <ion-card-header>
    <ion-card-title>Editar publicación</ion-card-title>
  </ion-card-header>

  <ion-card-content [formGroup]="publiForm">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>

    <ion-button expand="full" (click)="guardarCambios()">
      Guardar cambios
    </ion-button>

    <ion-button expand="full" color="medium" (click)="cancelarEdicion()">
      Cancelar
    </ion-button>
  </ion-card-content>
</ion-card>