<ion-header>
  <ion-toolbar class="toolbar-border">
    <ion-buttons slot="start">
      <ion-button (click)="back()" fill="clear">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mis plantas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="new-plant-content" fullscreen>
  <form (ngSubmit)="handleSubmit()" class="form-container">

    <!-- Foto o placeholder -->
    <ion-card class="photo-card" (click)="handleCameraClick()">
      <ng-container *ngIf="imageSrc; else placeholder">
        <img [src]="imageSrc" />
      </ng-container>
      <ng-template #placeholder>
        <div class="camera-button">
          <ion-icon name="camera-outline"></ion-icon>
        </div>
      </ng-template>
    </ion-card>

    <!-- Nombre -->
    <ion-item lines="none" class="input-item">
      <ion-label position="stacked" class="input-label">Nombre</ion-label>
      <ion-input
        [(ngModel)]="name"
        name="name"
        required
        class="input-field"
      ></ion-input>
    </ion-item>

    <!-- Descripción -->
    <ion-item lines="none" class="input-item">
      <ion-label position="stacked" class="input-label">Description</ion-label>
      <ion-textarea
        [(ngModel)]="description"
        name="description"
        rows="4"
        class="input-field"
      ></ion-textarea>
    </ion-item>

    <!-- Botones -->
    <div class="button-group">
      <ion-button
        type="submit"
        fill="outline"
        shape="round"
        class="btn-submit"
      >
        Subir
      </ion-button>
      <ion-button
        fill="outline"
        shape="round"
        class="btn-cancel"
        (click)="back()"
      >
        Cancelar
      </ion-button>
      
    </div>


  </form>
</ion-content>
