<ion-header>
  <ion-toolbar color="light" class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="custom-title">Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="plant-detail-content" fullscreen>
  <!-- Nombre de la familia -->
  <div class="family-name">{{ family }}</div>

  <!-- Grid de días -->
  <div class="grid">
    <ion-card
      *ngFor="let entry of entries; let i = index"
      class="plant-card"
      (click)="goToEntry(entry.id!)"
    >
      <div class="card-image" (click)="detalle(entry.id!)">
        <img [src]="getImageUrl(entry.image!)" alt="Imagen de la planta" />
      </div>
      <ion-card-content>
        <ion-card-subtitle class="plant-name">
          Día {{ i + 1 }}
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta “Añadir” -->
    <ion-card-content>
      <ion-card (click)="goToNewEntry()" class="plant-card add-card">
        <div class="add-container">
          <ion-icon name="add-outline" class="add-icon"></ion-icon>
          
        </div>
        
      </ion-card>
      <div class="add-text">Añadir</div>
    </ion-card-content>
  </div>

  <!-- Última actualización -->
  <div class="info-grid">
    <div class="update-label">Última actualización</div>
    <div class="info-date">
      {{ getLastUpdate() | date:'dd/MM/yyyy' }}
    </div>
    <div></div>
  </div>
  

  <div class="location-preview">
    <!-- cabecera con imagen + título -->
    <div class="location-header">
      <img class="location-img" src="https://images.adsttc.com/media/images/596d/f470/b22e/380c/a700/0109/medium_jpg/CelsoPilati-0089.jpg?1500378207" alt="Ubicación" />
 
      <div class="location-selected">
        {{ selectedLocation }}
      </div>
    </div>
  </div>
  <!-- Ubicaciones dinámicas -->
  <div class="location-preview">
    <div class="location-chips">
      <ion-chip
        *ngFor="let loc of uniqueLocations()"
        (click)="selectLocation(loc)"
        [outline]="loc !== selectedLocation"
        [class.selected]="loc === selectedLocation"
      >
        <ion-label>{{ loc }}</ion-label>
      </ion-chip>
    </div>


      
    </div>
    

</ion-content>

<ion-footer>
  <app-tab-bar></app-tab-bar>
</ion-footer>
