  <a href="/suscripcion">
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/736x/b5/ea/b3/b5eab385eaf4e6004d159acd560fb4f7.jpg" />
</a>
    <h1>Articulos</h1>
<ion-card href="/articulos">
  <img alt="Silhouette of mountains" src="https://i.pinimg.com/736x/e7/cd/39/e7cd398b942832c2acf09610cc653be9.jpg" />
  <ion-card-header>
    <ion-card-title class="blur-title">Plantas</ion-card-title>
  </ion-card-header>
</ion-card>

<h1>Publicaciones</h1>
<ion-card href="/publicaciones">
  <img alt="Silhouette of mountains" src="https://i.pinimg.com/736x/51/ea/1b/51ea1b77392fd710a5c586f267092a8b.jpg" />
  <ion-card-header>
    <ion-card-title class="blur-title">Girasoles</ion-card-title>
  </ion-card-header>
</ion-card>