:root {
	--ion-color-verdeoscuro: #2E4A39;
	--ion-color-verdeoscuro-rgb: 46,74,57;
	--ion-color-verdeoscuro-contrast: #ffffff;
	--ion-color-verdeoscuro-contrast-rgb: 255,255,255;
	--ion-color-verdeoscuro-shade: #284132;
	--ion-color-verdeoscuro-tint: #435c4d;
}

.ion-color-verdeoscuro {
	--ion-color-base: var(--ion-color-verdeoscuro);
	--ion-color-base-rgb: var(--ion-color-verdeoscuro-rgb);
	--ion-color-contrast: var(--ion-color-verdeoscuro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-verdeoscuro-contrast-rgb);
	--ion-color-shade: var(--ion-color-verdeoscuro-shade);
	--ion-color-tint: var(--ion-color-verdeoscuro-tint);
}
:root {
	--ion-color-verdelima: #A2C77A;
	--ion-color-verdelima-rgb: 162,199,122;
	--ion-color-verdelima-contrast: #000000;
	--ion-color-verdelima-contrast-rgb: 0,0,0;
	--ion-color-verdelima-shade: #8faf6b;
	--ion-color-verdelima-tint: #abcd87;
}

.ion-color-verdelima {
	--ion-color-base: var(--ion-color-verdelima);
	--ion-color-base-rgb: var(--ion-color-verdelima-rgb);
	--ion-color-contrast: var(--ion-color-verdelima-contrast);
	--ion-color-contrast-rgb: var(--ion-color-verdelima-contrast-rgb);
	--ion-color-shade: var(--ion-color-verdelima-shade);
	--ion-color-tint: var(--ion-color-verdelima-tint);
}
:root {
	--ion-color-veishoscuro: #D4CDBD;
	--ion-color-veishoscuro-rgb: 212,205,189;
	--ion-color-veishoscuro-contrast: #000000;
	--ion-color-veishoscuro-contrast-rgb: 0,0,0;
	--ion-color-veishoscuro-shade: #bbb4a6;
	--ion-color-veishoscuro-tint: #d8d2c4;
}

.ion-color-veishoscuro {
	--ion-color-base: var(--ion-color-veishoscuro);
	--ion-color-base-rgb: var(--ion-color-veishoscuro-rgb);
	--ion-color-contrast: var(--ion-color-veishoscuro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-veishoscuro-contrast-rgb);
	--ion-color-shade: var(--ion-color-veishoscuro-shade);
	--ion-color-tint: var(--ion-color-veishoscuro-tint);
}
:root {
	--ion-color-verdelimaclaro: #C7D2AB;
	--ion-color-verdelimaclaro-rgb: 199,210,171;
	--ion-color-verdelimaclaro-contrast: #000000;
	--ion-color-verdelimaclaro-contrast-rgb: 0,0,0;
	--ion-color-verdelimaclaro-shade: #afb996;
	--ion-color-verdelimaclaro-tint: #cdd7b3;
}

.ion-color-verdelimaclaro {
	--ion-color-base: var(--ion-color-verdelimaclaro);
	--ion-color-base-rgb: var(--ion-color-verdelimaclaro-rgb);
	--ion-color-contrast: var(--ion-color-verdelimaclaro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-verdelimaclaro-contrast-rgb);
	--ion-color-shade: var(--ion-color-verdelimaclaro-shade);
	--ion-color-tint: var(--ion-color-verdelimaclaro-tint);
}
:root {
	--ion-color-verdemedioscuro: #8B9773;
	--ion-color-verdemedioscuro-rgb: 139,151,115;
	--ion-color-verdemedioscuro-contrast: #000000;
	--ion-color-verdemedioscuro-contrast-rgb: 0,0,0;
	--ion-color-verdemedioscuro-shade: #7a8565;
	--ion-color-verdemedioscuro-tint: #97a181;
}

.ion-color-verdemedioscuro {
	--ion-color-base: var(--ion-color-verdemedioscuro);
	--ion-color-base-rgb: var(--ion-color-verdemedioscuro-rgb);
	--ion-color-contrast: var(--ion-color-verdemedioscuro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-verdemedioscuro-contrast-rgb);
	--ion-color-shade: var(--ion-color-verdemedioscuro-shade);
	--ion-color-tint: var(--ion-color-verdemedioscuro-tint);
}
:root {
	--ion-color-fondo: #F5F5ED;
	--ion-color-fondo-rgb: 245,245,237;
	--ion-color-fondo-contrast: #000000;
	--ion-color-fondo-contrast-rgb: 0,0,0;
	--ion-color-fondo-shade: #d8d8d1;
	--ion-color-fondo-tint: #f6f6ef;
}

.ion-color-fondo {
	--ion-color-base: var(--ion-color-fondo);
	--ion-color-base-rgb: var(--ion-color-fondo-rgb);
	--ion-color-contrast: var(--ion-color-fondo-contrast);
	--ion-color-contrast-rgb: var(--ion-color-fondo-contrast-rgb);
	--ion-color-shade: var(--ion-color-fondo-shade);
	--ion-color-tint: var(--ion-color-fondo-tint);
}
:root {
	--ion-color-marronclaro: #C8AC94;
	--ion-color-marronclaro-rgb: 200,172,148;
	--ion-color-marronclaro-contrast: #000000;
	--ion-color-marronclaro-contrast-rgb: 0,0,0;
	--ion-color-marronclaro-shade: #b09782;
	--ion-color-marronclaro-tint: #ceb49f;
}

.ion-color-marronclaro {
	--ion-color-base: var(--ion-color-marronclaro);
	--ion-color-base-rgb: var(--ion-color-marronclaro-rgb);
	--ion-color-contrast: var(--ion-color-marronclaro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-marronclaro-contrast-rgb);
	--ion-color-shade: var(--ion-color-marronclaro-shade);
	--ion-color-tint: var(--ion-color-marronclaro-tint);
}