// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-verdeoscuro: #2E4A39;
	--ion-color-verdeoscuro-rgb: 46,74,57;
	--ion-color-verdeoscuro-contrast: #ffffff;
	--ion-color-verdeoscuro-contrast-rgb: 255,255,255;
	--ion-color-verdeoscuro-shade: #284132;
	--ion-color-verdeoscuro-tint: #435c4d;
}

.ion-color-verdeoscuro {
	--ion-color-base: var(--ion-color-verdeoscuro);
	--ion-color-base-rgb: var(--ion-color-verdeoscuro-rgb);
	--ion-color-contrast: var(--ion-color-verdeoscuro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-verdeoscuro-contrast-rgb);
	--ion-color-shade: var(--ion-color-verdeoscuro-shade);
	--ion-color-tint: var(--ion-color-verdeoscuro-tint);
}

:root {
	--ion-color-veishoscuro: #D4CDBD;
	--ion-color-veishoscuro-rgb: 212,205,189;
	--ion-color-veishoscuro-contrast: #000000;
	--ion-color-veishoscuro-contrast-rgb: 0,0,0;
	--ion-color-veishoscuro-shade: #bbb4a6;
	--ion-color-veishoscuro-tint: #d8d2c4;
}

.ion-color-veishoscuro {
	--ion-color-base: var(--ion-color-veishoscuro);
	--ion-color-base-rgb: var(--ion-color-veishoscuro-rgb);
	--ion-color-contrast: var(--ion-color-veishoscuro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-veishoscuro-contrast-rgb);
	--ion-color-shade: var(--ion-color-veishoscuro-shade);
	--ion-color-tint: var(--ion-color-veishoscuro-tint);
}

:root {
	--ion-color-fondo: #F5F5ED;
	--ion-color-fondo-rgb: 245,245,237;
	--ion-color-fondo-contrast: #000000;
	--ion-color-fondo-contrast-rgb: 0,0,0;
	--ion-color-fondo-shade: #d8d8d1;
	--ion-color-fondo-tint: #f6f6ef;
}

.ion-color-fondo {
	--ion-color-base: var(--ion-color-fondo);
	--ion-color-base-rgb: var(--ion-color-fondo-rgb);
	--ion-color-contrast: var(--ion-color-fondo-contrast);
	--ion-color-contrast-rgb: var(--ion-color-fondo-contrast-rgb);
	--ion-color-shade: var(--ion-color-fondo-shade);
	--ion-color-tint: var(--ion-color-fondo-tint);
}

:root {
	--ion-color-verdelima: #C7D2AB;
	--ion-color-verdelima-rgb: 199,210,171;
	--ion-color-verdelima-contrast: #000000;
	--ion-color-verdelima-contrast-rgb: 0,0,0;
	--ion-color-verdelima-shade: #afb996;
	--ion-color-verdelima-tint: #cdd7b3;
}

.ion-color-verdelima {
	--ion-color-base: var(--ion-color-verdelima);
	--ion-color-base-rgb: var(--ion-color-verdelima-rgb);
	--ion-color-contrast: var(--ion-color-verdelima-contrast);
	--ion-color-contrast-rgb: var(--ion-color-verdelima-contrast-rgb);
	--ion-color-shade: var(--ion-color-verdelima-shade);
	--ion-color-tint: var(--ion-color-verdelima-tint);
}

:root {
	--ion-color-verdemedio: #8B9773;
	--ion-color-verdemedio-rgb: 139,151,115;
	--ion-color-verdemedio-contrast: #000000;
	--ion-color-verdemedio-contrast-rgb: 0,0,0;
	--ion-color-verdemedio-shade: #7a8565;
	--ion-color-verdemedio-tint: #97a181;
}

.ion-color-verdemedio {
	--ion-color-base: var(--ion-color-verdemedio);
	--ion-color-base-rgb: var(--ion-color-verdemedio-rgb);
	--ion-color-contrast: var(--ion-color-verdemedio-contrast);
	--ion-color-contrast-rgb: var(--ion-color-verdemedio-contrast-rgb);
	--ion-color-shade: var(--ion-color-verdemedio-shade);
	--ion-color-tint: var(--ion-color-verdemedio-tint);
}

:root {
	--ion-color-marron: #C8AC94;
	--ion-color-marron-rgb: 200,172,148;
	--ion-color-marron-contrast: #000000;
	--ion-color-marron-contrast-rgb: 0,0,0;
	--ion-color-marron-shade: #b09782;
	--ion-color-marron-tint: #ceb49f;
}

.ion-color-marron {
	--ion-color-base: var(--ion-color-marron);
	--ion-color-base-rgb: var(--ion-color-marron-rgb);
	--ion-color-contrast: var(--ion-color-marron-contrast);
	--ion-color-contrast-rgb: var(--ion-color-marron-contrast-rgb);
	--ion-color-shade: var(--ion-color-marron-shade);
	--ion-color-tint: var(--ion-color-marron-tint);
}

:root {
	--ion-color-verdeprueba: #A2C77A;
	--ion-color-verdeprueba-rgb: 162,199,122;
	--ion-color-verdeprueba-contrast: #000000;
	--ion-color-verdeprueba-contrast-rgb: 0,0,0;
	--ion-color-verdeprueba-shade: #8faf6b;
	--ion-color-verdeprueba-tint: #abcd87;
}

.ion-color-verdeprueba {
	--ion-color-base: var(--ion-color-verdeprueba);
	--ion-color-base-rgb: var(--ion-color-verdeprueba-rgb);
	--ion-color-contrast: var(--ion-color-verdeprueba-contrast);
	--ion-color-contrast-rgb: var(--ion-color-verdeprueba-contrast-rgb);
	--ion-color-shade: var(--ion-color-verdeprueba-shade);
	--ion-color-tint: var(--ion-color-verdeprueba-tint);
}

:root {
	--ion-color-verdesucess: #A2A46D;
	--ion-color-verdesucess-rgb: 162,164,109;
	--ion-color-verdesucess-contrast: #000000;
	--ion-color-verdesucess-contrast-rgb: 0,0,0;
	--ion-color-verdesucess-shade: #8f9060;
	--ion-color-verdesucess-tint: #abad7c;
}

.ion-color-verdesucess {
	--ion-color-base: var(--ion-color-verdesucess);
	--ion-color-base-rgb: var(--ion-color-verdesucess-rgb);
	--ion-color-contrast: var(--ion-color-verdesucess-contrast);
	--ion-color-contrast-rgb: var(--ion-color-verdesucess-contrast-rgb);
	--ion-color-shade: var(--ion-color-verdesucess-shade);
	--ion-color-tint: var(--ion-color-verdesucess-tint);
}

:root {
	--ion-color-hueso: #F8E6D3;
	--ion-color-hueso-rgb: 248,230,211;
	--ion-color-hueso-contrast: #000000;
	--ion-color-hueso-contrast-rgb: 0,0,0;
	--ion-color-hueso-shade: #dacaba;
	--ion-color-hueso-tint: #f9e9d7;
}

.ion-color-hueso {
	--ion-color-base: var(--ion-color-hueso);
	--ion-color-base-rgb: var(--ion-color-hueso-rgb);
	--ion-color-contrast: var(--ion-color-hueso-contrast);
	--ion-color-contrast-rgb: var(--ion-color-hueso-contrast-rgb);
	--ion-color-shade: var(--ion-color-hueso-shade);
	--ion-color-tint: var(--ion-color-hueso-tint);
}

ion-datetime {
	--background: #f6f6ed;           /* Fondo general */
	--ion-text-color: #363b29;       /* Color de texto */
	--ion-color-primary: #d1d1d1;    /* Botón GUARDAR, día seleccionado */
	--ion-color-primary-contrast: #000000; /* Texto botón GUARDAR */
	--highlight-background: #ffffff;    /* Fondo día seleccionado */
	--highlight-color: #7c8660;      /* Color texto día seleccionado */
	--background-rgb: 246,246,237;
  }

  