img{
    width: 350px; 
    height: 350px;
    margin: 0 auto;
}
ion-toolbar{
    --background: var(--ion-color-fondo);
}
ion-content{
    --background: var(--ion-color-fondo);
}
form{
    margin-top: 20px;
}
form > ion-item{
    --background: var(--ion-color-fondo);
}
form > ion-item > ion-input{
    --background: var(--ion-color-fondo);
    --color: var(--ion-color-verdeoscuro);
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    font-family: 'Quicksand', sans-serif;
    width: 334px;
    height: 46px;
    display: flex;
    margin: auto;
}
form > ion-button{
    font-family: 'Concert One', sans-serif;
    --background: none;
    color: var(--ion-color-verdeoscuro);
    --border-color: var(--ion-color-verdeoscuro);
    width: 334px;
    height: 46px;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
ion-button{
    --background: var(--ion-color-verdeoscuro);
    font-family: 'Concert One', sans-serif;
}
a{
    color: var(--ion-color-verdeoscuro);
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}