img{
    width: 350px; 
    height: 350px;
    margin: 0 auto;
}
ion-toolbar{
    --background: var(--ion-color-fondo);
}
ion-content{
    --background: var(--ion-color-fondo);
}
form > ion-item{
    --background: var(--ion-color-fondo);    
}
form > ion-item > ion-input{
    --background: var(--ion-color-fondo);
    --color: var(--ion-color-verdeoscuro);
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    font-family: 'Quicksand', sans-serif;
}
form > ion-button{
    font-family: 'Concert One', sans-serif;
    --background: none;
    color: var(--ion-color-verdeoscuro);
}
ion-button{
    --background: var(--ion-color-verdeoscuro);
    font-family: 'Concert One', sans-serif;
}
ion-content > div > ion-button{
    --background: var(--ion-color-veishoscuro);
    font-family: 'Concert One', sans-serif;
    --border-radius: 50px;
}