<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; flex-direction: row; align-items: center;">
      <ion-icon name="arrow-back-outline" routerLink="/perfil" style="cursor: pointer; color: var(--ion-color-verdeoscuro); width: 24px; height: 24px; margin: 20px;"></ion-icon>
      <ion-title style="text-align: center;">Perfil</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <img [src]="imagenDataUrl || auth.profile?.foto_perfil" alt="foto-perfil" (click)="handleCameraClick()">
  <div style="display: flex; flex-direction: row; align-items: center;">
    <ion-title >Editar</ion-title>
  </div>
  <form [formGroup]="changeProfile" (ngSubmit) = "chgProfile()">
    <ion-item style="border: solid 1px grey; margin: 4px; border-radius: 14px;">
      <ion-input label="Nombre" 
      labelPlacement="stacked" 
      placeholder="Nombre" 
      type="text"
      formControlName="username"> 
      </ion-input>
    </ion-item>
    <br>
    <ion-item style="border: solid 1px grey; margin: 4px; border-radius: 14px;">
      <ion-input label="Descripcion"
      labelPlacement="stacked"
      placeholder="Descripcion"
      type="text"
      formControlName="descripcion">
      </ion-input>
    </ion-item>
    <br>
    <div style="display: flex; flex-direction: row; align-items: center; box-shadow: none;">
      <ion-button expand="full" type="submit" style="--background:none; color: var(--ion-color-verdeoscuro); border: solid 1px var(--ion-color-verdeoscuro); border-radius: 50px;"
      href="/perfil">
        Editar
      </ion-button>
      <ion-button expand="full" type="button" href="/perfil" style="--background:none; color: var(--ion-color-verdeoscuro); border: solid 1px var(--ion-color-verdeoscuro); border-radius: 50px;">
        Cancelar
      </ion-button>
    </div>
  </form>
</ion-content>
