ion-content {
  --background: #f7f6ec; // fondo similar al de la imagen
}

ion-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.qr-top-button {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}

ion-button {
  --border-radius: 12px;
  --padding-start: 12px;
  --padding-end: 12px;
  --background: transparent;
  --color: black;
  --border-color: black;
  --border-width: 1px;
  height: 34px;
  font-size: 14px;
  font-weight: 500;
}

.qr-container {
  background: white;
  padding: 1rem;
  margin: 0 auto 1.5rem auto;
  width: 90%;
  max-width: 320px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-container img {
  width: 100%;
  max-width: 260px;
  height: auto;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.suscribe-button,
.cancel-button {
  --border-radius: 20px;
  --background: transparent;
  --color: #004225;
  --border-color: #004225;
  --border-width: 1px;
  font-weight: 500;
  width: 45%;
  font-size: 15px;
}

.suscribe-button {
  --background: #f1f3ec;
}

.terms {
  font-size: 14px;
  margin: 0 1.2rem;
  --background: transparent;
}

ion-footer ion-tab-bar {
  background-color: #7f8b67;
  --color: white;
}

ion-tab-button {
  --color-selected: white;
  --color: white;
}

ion-tab-button ion-icon {
  font-size: 18px;
}
