ion-header {
    --background: #F5F5ED;
    
    ion-toolbar {
      --background: #F5F5ED;
      --color: #2c3e50;
      
      ion-title {
        font-size: 23px;
        font-weight: 600;
        color: #8B9773;
        font-family: 'Concert One', sans-serif;

      }
      
      // Botones del header (editar, configuración)
      ion-button {
        --color: #8B9773;
        --background: #F5F5ED;
        --box-shadow: none;
        margin: 0;
        height: auto;
        
        ion-icon {
          font-size: 24px;
          margin: 0;
        }
      }
    }
  }

ion-content {
  background-color: #fff;

  .qr-section {
    text-align: center;
    margin: 20px 0;
        font-family: 'Quicksand', sans-serif;


    img {
      max-width: 250px;
      margin: 20px auto;
      display: block;
    }

    p {
      font-size: 14px;
      color: #555;
      margin-top: 10px;
          font-family: 'Quicksand', sans-serif;

    }
  }

  ion-item {
    --background: transparent;
    --inner-padding-end: 0;
    margin-bottom: 10px;
        font-family: 'Quicksand', sans-serif;


    ion-label {
      font-size: 14px;
      color: #333;

      a {
        color: #7A8463;
        font-weight: 600;
        text-decoration: none;
            font-family: 'Quicksand', sans-serif;

      }
    }

    ion-checkbox {
      --size: 20px;
      --checkbox-background: #7A8463;
      --border-color-checked: #7A8463;
          font-family: 'Quicksand', sans-serif;

    }
  }

  ion-button {
    &.confirmar {
      --background: #7A8463;
      --background-activated: #6b7459;
      --color: white;
      font-weight: 700;
      letter-spacing: 0.5px;
      font-size: 16px;
      margin-top: 10px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      height: 30px;
          font-family: 'Quicksand', sans-serif;

    }

    &.cancelar {
      height: 15px;
      color: #5c5c5c;
      font-weight: 600;
      font-size: 25px;
      margin-top: 10px;
          font-family: 'Quicksand', sans-serif;

    }
  }
}
