.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f6ed;
  height: 100vh;
  padding: 1.5rem;

  .encabezado {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    .icono-pago {
      width: 24px;
      height: 24px;
    }

    .subtitulo {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      color: #3a3a3a;
    }
  }

  .titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .opciones {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .opcion {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icono-opcion {
        width: 100px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 0.5rem;
      }

      .texto-opcion {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #000;
      }
    }
  }
}
