<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-center">Suscripcion</ion-title>
  </ion-toolbar>
</ion-header>
<div class="contenedor-principal"> 
 
  <h1 class="titulo">Métodos<br>de pago</h1>

  <div class="opciones">
    <div class="opcion">
      <a href="/qr">
        <img src="../../../../assets/img/qr.jpg" alt="Punto de venta" class="icono-opcion">
      </a>
      <span class="texto-opcion">QR</span>
    </div>
    <div class="opcion">
      <a href="/transferencia">
        <img src="../../../../assets/img/tarjeta.jpg" alt="Tarjeta" class="icono-opcion">
      </a>
      <span class="texto-opcion">Tarjeta</span>
    </div>
  </div>
</div>
