<div class="contenedor-principal"> 
  <div class="encabezado">
    <img src="icono-pago.svg" alt="Ícono de pago" class="icono-pago">
    <p class="subtitulo">Conoce nuestros</p>
  </div>
  
  <h1 class="titulo">Métodos<br>de pago</h1>

  <div class="opciones">
    <div class="opcion">
      <a href="/qr">
        <img src="icono-tarjeta.svg" alt="Punto de venta" class="icono-opcion">
      </a>
      <span class="texto-opcion">QR</span>
    </div>
    <div class="opcion">
      <a href="/transferencia">
        <img src="icono-transferencia.svg" alt="Tarjeta" class="icono-opcion">
      </a>
      <span class="texto-opcion">Tarjeta</span>
    </div>
  </div>
</div>
