<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Publicaciones favoritas -->
  <ion-list *ngIf="publicaciones">
    <ion-list-header>
      <ion-label>Publicaciones</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let publicacion of publicaciones" (click)="onCardClick(publicacion.id)">
      <ion-label>
        <img [src]="publicacion.imagen || ''" alt="foto" style="width: 300px; height: 500px;">
        <h2>{{ publicacion.titulo }}</h2>
        <p>{{ publicacion.descripcion }}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="eliminarFavorito(publicacion)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Artículos favoritos -->
  <ion-list *ngIf="articulos">
    <ion-list-header>
      <ion-label>Artículos</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let articulo of articulos" [routerLink]="['/articulo', articulo.id]">
      <ion-label>
        <img [src]="articulo.imagen || ''" alt="foto" style="width: 300px ;height: 500px;">
        <h2>{{ articulo.titulo }}</h2>
        <p>{{ articulo.descripcion }}</p>
      </ion-label>
      
      
      <ion-button fill="clear" slot="end" (click)="eliminarFavorito(articulo)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
