
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/publicaciones"></ion-back-button>
    </ion-buttons>
    <ion-card-title class="card-title">
      {{ publicacion?.titulo }}
    </ion-card-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="publication-card">
    <div class="image-container">
      <img src="{{ publicacion?.imagen}}" 
           class="publication-image" />
    </div>
    
    <ion-card-header class="card-header">
    </ion-card-header>
    
    <ion-card-content class="card-content">
      <p class="description-text">
        {{ publicacion?.descripcion }}
      </p>
      
      <div class="date-info" *ngIf="publicacion?.fecha">
        <p><strong>Fecha:</strong> {{ publicacion.fecha?.toDate?.()}}</p>
      </div>
    </ion-card-content>
    
    <div class="action-buttons">
      <ion-button fill="clear" color="medium" class="action-btn">
        <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="medium" class="action-btn">
        <ion-icon name="share-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="medium" class="action-btn" (click)="guardarEnFavoritos(publicacion)">
        <ion-icon name="star-outline" slot="icon-only"></ion-icon>
      </ion-button>

    <!-- <div style="display: flex; flex-direction: row;">
      <ion-icon name="heart" style="width: 20px; height: 21px; margin: 3px; color: var(--ion-color-verdemedioscuro);"></ion-icon>
      <ion-icon name="send" style="width: 20px; height: 21px; margin: 3px; color: var(--ion-color-verdemedioscuro);"></ion-icon>
      <ion-icon name="star" style="width: 20px; height: 21px; margin: 3px; color: var(--ion-color-verdemedioscuro);" (click)="guardarEnFavoritos(publicacion)"></ion-icon>
    </div> -->
  
