<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/publicaciones"></ion-back-button>
      <ion-title>{{ publicacion?.titulo }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="publicacion">
  <ion-card>
    <img [src]="publicacion.imagen" alt="Imagen publicación" />
    <ion-card-header>
      <ion-card-title>{{ publicacion.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ publicacion.descripcion }}</p>
      <p><strong>Fecha:</strong> {{ publicacion.fecha?.toDate?.() | date:'short' }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
