<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; flex-direction: row; align-items: center;">
      <ion-button href="/perfil">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      </ion-button>
      <ion-title>Publicaciones</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let publi of publicaciones" style="width: 300px; height: 300px;">
    <img [src]="publi.imagenUrl || ''" alt="foto-publi">

    <ion-card-header>
      <ion-card-title>{{ publi.titulo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ publi.descripcion }}</p>
    </ion-card-content>

    <div style="display: flex; flex-direction: row;">
      <ion-icon name="heart" style="width: 20px; height: 21px; margin: 3px; color: var(--ion-color-verdemedioscuro);"></ion-icon>
      <ion-icon name="send" style="width: 20px; height: 21px; margin: 3px; color: var(--ion-color-verdemedioscuro);"></ion-icon>
      <ion-icon name="star" style="width: 20px; height: 21px; margin: 3px; color: var(--ion-color-verdemedioscuro);"></ion-icon>
    </div>
  </ion-card>
  <br>
  <ion-button href="/agregar-publi" style="width: 300px; height: 300px;">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>
</ion-content>
