:host {
    /* Sólo los ion-card-content de las cards de planta */
    ion-card-content {
      font-family: 'Concert One', cursive !important;
    }
  }
  h1 {
    font-size: 24px;
    font-weight: 600;
    color: #2c3e50;
    margin: 0 0 8px 0;
    text-transform: capitalize;
    font-family: 'Quicksand', sans-serif;
  
  }
  
  .plant-list-content {
    --background: #faf8f0;
    padding: 1rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-bottom: 5rem; /* espacio para la barra de navegación */
    padding-left: 7px;
    padding-right: 7px;
  }
  
  .plant-card {
    cursor: pointer;
    font-family: 'Concert One', cursive;
    box-shadow: none;
    border-radius: 0.5rem;
    overflow: hidden;
    background: #F5F5ED;
    .card-image {
      width: 100%;
      aspect-ratio: 1;
      background: #F5F5ED;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    ion-card-content {
      text-align: left;
      .plant-name {
        color: #000000;
        font-weight: 500;
      }
    }
  }
  
  /* Tarjeta de “Añadir” */
  .add-card {
    width: 100%;
  /* cuadrado perfecto */
  aspect-ratio: 1 / 1;

  /* mismos bordes y overflow que las plantas */
  border-radius: 0.5rem;
  overflow: hidden;

  /* si quieres sombra igual que .plant-card */
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.1); */

    display: grid;
    align-items: center;
    justify-content: center;
    background: #fdfdfd;

    .add-container {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .add-icon {
      font-size: 2rem;
      color: #8f8f8f;
    }
    .add-text {
      margin-top: 0.5rem;
      color: #000000;
    }
  }
  
  .add-label {
    text-align: center;
    margin-top: 4px;
    font-weight: 500;
    color: #333;
  }
  .header-card {
    margin: 16px;
    border-radius: 12px;
    overflow: hidden;
  
    img {
      display: block;
      width: 100%;
      height: 180px;        // ajusta la altura a tu gusto
      object-fit: cover;    // mantiene proporciones y recorta si hace falta
    }
    
  }
  