<ion-header  >
  <ion-toolbar >
    <ion-buttons  slot="start">
    </ion-buttons>
    <ion-title style="text-align: center; " >Plantas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="plant-list-content" fullscreen>
  

      <!-- Cabecera grande -->
      <ion-card class="header-card">
        <img src="/../../../assets/img/ChatGPT Image 16 jun 2025, 21_15_41.png" alt="Mis plantas" />
      </ion-card>
      <div class="grid">
      <!-- Cada tarjeta de planta -->
      <ion-card
      *ngFor="let plant of allPlants"
      (click)="goToDetail(plant.id!)"
      class="plant-card"
      >

      <div class="card-image">
        <img
          [src]="plant.image"
          [alt]="plant.name"
        />
      </div>
      <ion-card-content>
        <ion-card-subtitle class="plant-name">
          {{ plant.familia || 'Sin familia' }}
        </ion-card-subtitle>
        <ion-card-title>
          {{ plant.name }}
        </ion-card-title>
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta de “Añadir” -->
    <ion-card-content>
    <ion-card (click)="goToNewPlant()" class="plant-card add-card">
      <div class="add-container">
        <ion-icon name="add-outline" class="add-icon"></ion-icon>
        
      </div>
      
    </ion-card>
    <div class="add-text">Añadir</div>
  </ion-card-content>

  </div>


</ion-content>

<ion-footer>
  <app-tab-bar></app-tab-bar>
</ion-footer>