
ion-content {
    --background: #F5F5ED;
  }
  
  ion-header {
    --background: #F5F5ED;
    
    ion-toolbar {
      --background: #F5F5ED;
      --color: #2c3e50;
      
      ion-title {
        font-size: 23px;
        font-weight: 600;
        color: #8B9773;
        font-family: 'Concert One', sans-serif;

      }
      
      // Botones del header (editar, configuración)
      ion-button {
        --color: #8B9773;
        --background: #F5F5ED;
        --box-shadow: none;
        margin: 0;
        height: auto;
        
        ion-icon {
          font-size: 24px;
          margin: 0;
        }
      }
    }
  }
  .plant-list-content {
    --background: #faf8f0;
    padding: 1rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-bottom: 5rem; /* espacio para la barra de navegación */
    padding-left: 7px;
    padding-right: 7px;
  }
  
  .plant-card {
    cursor: pointer;
    font-family: 'Concert One', cursive;
    border-radius: 0.5rem;
    overflow: hidden;
    background: #F5F5ED;
    .card-image {
      width: 100%;
      aspect-ratio: 1;
      background: #F5F5ED;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    ion-card-content {
      text-align: left;
      .plant-name {
        color: #000000;
        font-weight: 500;
      }
    }
  }
  
  /* Tarjeta de “Añadir” */
  .add-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fdfdfd;
    .add-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .add-icon {
      font-size: 2rem;
      color: #8f8f8f;
    }
    .add-text {
      margin-top: 0.5rem;
      color: #000000;
    }
  }

  .header-card {
    margin: 16px;
    border-radius: 12px;
    overflow: hidden;
  
    img {
      display: block;
      width: 100%;
      height: 180px;        // ajusta la altura a tu gusto
      object-fit: cover;    // mantiene proporciones y recorta si hace falta
    }
  }
  