<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/metodo-pago"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-center">Escaner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="plant-list-content" fullscreen>
  

      <!-- Cabecera grande -->
      <ion-card class="header-card">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/041/714/449/small_2x/ai-generated-green-wall-of-tropical-plants-on-a-transparent-background-png.png" alt="Mis plantas" />
      </ion-card>
      <div class="grid">
    <!-- Cada tarjeta de planta -->
    <ion-card
      *ngFor="let plant of plantCategories"
      (click)="goToDetail(plant.name)"
      class="plant-card"
    >
      <div class="card-image">
        <img
          [src]="plant.entries[0].image"
          [alt]="plant.name"
        />
      </div>
      <ion-card-content>
        <ion-card-subtitle class="plant-name">
          {{ plant.name }}
          
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta de “Añadir” -->
    <ion-card-content>
    <ion-card (click)="goToNewPlant()" class="plant-card add-card">
      <div class="add-container">
        <ion-icon name="add-outline" class="add-icon"></ion-icon>
        
      </div>
      
    </ion-card>
    <div class="add-text">Añadir</div>
  </ion-card-content>

  </div>


</ion-content>

<ion-footer>
  <app-tab-bar></app-tab-bar>
</ion-footer>