<ion-header>
  <ion-toolbar>
    <ion-title>Mis plantas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="plant-list-content" fullscreen>
  

      <!-- Cabecera grande -->
      <ion-card class="header-card">
        <img src="" alt="Mis plantas" />
      </ion-card>
      <div class="grid">
    <!-- Cada tarjeta de planta -->
    <ion-card
      *ngFor="let plant of plantCategories"
      (click)="goToDetail(plant.name)"
      class="plant-card"
    >
      <div class="card-image">
        <img
          [src]="plant.entries[0]?.image || 'assets/placeholder.svg'"
          [alt]="plant.name"
        />
      </div>
      <ion-card-content>
        <ion-card-subtitle class="plant-name">
          {{ plant.name }}
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta de “Añadir” -->
    <ion-card (click)="goToNewPlant()" class="plant-card add-card">
      <div class="add-container">
        <ion-icon name="add-outline" class="add-icon"></ion-icon>
        <div class="add-text">Añadir</div>
      </div>
    </ion-card>
  </div>


</ion-content>

<ion-footer>
  <app-tab-bar></app-tab-bar>
</ion-footer>